<!DOCTYPE html>
<html lang="en" dir="ltr">

  <%- include ('../partials/head.ejs') %>

  <body>

    <div id="topmost-margin">
		</div>

    <div class="container">

      <header>
        <%- include ('../partials/nav.ejs') %>
      </header>

      <div id="edit-main">

        <form action="/games/<%=game.id%>?_method=PUT" method="POST">

          <div id="edit-col-1">

            <h2>Edit Game</h2>

            <!-- Basic text line -->
            <div id="edit-title">
              <p><label for="title">Title</label></p>
              <input type="text" name="title" value="<%=game.title%>" />
            </div>

            <!-- Dropdown with genre listings -->
            <div id="edit-genre">
              <p><label for="genre">Genre</label></p>
              <input type="text" name="genre" value="<%=game.genre%>" />
            </div>

            <!-- Dropdown with system listings -->
            <!-- <label for="system">System:</label>
            <input type="text" name="system" value="<%=game.system%>" /> -->

            <!-- Large text box for extended input -->
            <div id="edit-summary">
              <p><label for="summary">Summary</label></p>
              <textarea id="summary" name="summary"><%=game.summary%></textarea>
            </div>

          </div>

          <div id="edit-col-2">

            <div id="edit-showimage">
              <img src="/images/nes-carts/<%=game.smallimage %>" />
            </div>

            <!-- Text line for file name with browse button -->
            <div id="edit-smallimage">
              <p><label for="smallimage">Small Image File</label></p>
              <input type="text" name="smallimage" value="<%=game.smallimage%>" />
            </div>

            <!-- Text line for file name with browse button -->
            <!-- <label for="largeimage">Large Image:</label>
            <input type="text" name="largeimage" value="<%=game.largeimage%>" /> -->

            <!-- Dropdown with numeric listing from 1-5 -->
            <div class="edit-bar">
              <p><label for="rating">Rating (1-5)</label></p>
              <input type="text" name="rating" value="<%=game.rating%>" />
            </div>

            <!-- Text line with numeric input -->
            <div class="edit-bar">
              <p><label for="price">Price ($)</label></p>
              <input type="text" name="price" value="<%=game.price%>" />
            </div>

            <!-- Text line with numeric input -->
            <div class="edit-bar">
              <p><label for="quantity">Quantity</label></p>
              <input type="text" name="quantity" value="<%=game.quantity%>" />
            </div>

            <input id="edit-submit" type="submit" value="Submit">

            <button id="edit-back" type="button" name="button">
              <a href="/games">Back</a>
            </button>

          </div>

        </form>

      </div>

    </div>

    <%- include ('../partials/footer.ejs') %>

    <div id="bottommost-margin">
		</div>

  </body>
</html>
