<!DOCTYPE html>
<html>
	<head>
    <%- include ('../partials/head.ejs') %>
	</head>
	<body>
		<header>
			<nav>
        <%- include ('../partials/nav.ejs') %>

				<!-- <ul>
					<li>
						<a href="/authors">Authors</a>
					</li>
					<li>
						<a href="/articles">Articles</a>
					</li>
				</ul> -->

			</nav>

			<div class="container">

      <h1>Games Index Page</h1>
	      <ul>

	        <% for (let game of games ) { %>
	          <li>

	            <a href="/games/<%=game._id%>"><%= game.title %></a><br/>
							<%= game.system %><br/>
							<%= game.summary %><br/>
							<%= game.rating %><br/>
							<%= game.price %><br/>
							<%= game.quantity %>

	          </li>
	       <% } %>
				 
	      </ul>
    	</div>

		</header>
	</body>
</html>
