<!DOCTYPE html>
<html lang="en" dir="ltr">

  <%- include ('../partials/head.ejs') %>

	<body>

		<div id="topmost-margin">
		</div>

		<div class="container">

			<header>
	      <%- include ('../partials/nav.ejs') %>
			</header>

			<h1>Games Index Page</h1>

			<% for (let game of games ) { %>
				<div class="game-bar">

					<div class="game-title">
						<a href="/games/<%=game._id%>"><%= game.title %></a>
					</div>

					<div class="game-smallimage">

					</div>

					<div class="game-system">
						<%= game.system %>
					</div>

					<div class="game-summary">
						<%= game.summary %>
					</div>

					<div class="game-rating">
						<%= game.rating %>
					</div>

					<div class="game-price">
						<%= game.price %>
					</div>

					<div class="game-quantity">
						<%= game.quantity %>
					</div>

				</div>
		 <% } %>

		</div>

		<%- include ('../partials/footer.ejs') %>

		<div id="bottommost-margin">
		</div>

	</body>
</html>
