<!DOCTYPE html>
<html lang="en" dir="ltr">

  <%- include ('../partials/head.ejs') %>

	<body>

		<div id="topmost-margin">
		</div>

		<div class="container">

			<header>
	      <%- include ('../partials/nav.ejs') %>
			</header>

			<h1>Games Index Page</h1>

			<div id="game-list-head">

			</div>

			<div id="game-list">

				<% for (let game of games ) { %>

					<a href="/games/<%=game._id%>">

						<div class="game-bar">

							<div class="game-title">
								<span><%= game.title %></span>
							</div>

							<div class="game-smallimage">

							</div>

							<div class="game-system">
								<span><%= game.system %></span>
							</div>

							<!--<div class="game-summary">
								<span><%= game.summary %></span>
							</div>-->

							<div class="game-rating">
								<span><%= game.rating %></span>
							</div>

							<div class="game-price">
								<span><%= game.price %></span>
							</div>

							<div class="game-quantity">
								<span><%= game.quantity %></span>
							</div>

						</div>

					</a>

			 	<% } %>

	 		</div>

		</div>

		<%- include ('../partials/footer.ejs') %>

		<div id="bottommost-margin">
		</div>

	</body>
</html>
