<!DOCTYPE html>
<html lang="en" dir="ltr">

  <%- include ('../partials/head.ejs') %>

	<body>

		<div id="topmost-margin">
		</div>

		<div class="container">

			<header>
	      <%- include ('../partials/nav.ejs') %>
			</header>

			<div id="index-intro">
				<h2>Welcome!</h2>
				<p>Greetings, and welcome all to The Cartridge Crematorium, an ongoing catalog and source of older NES and SNES titles. Feel free to browse, buy, and enjoy! Our available titles are listed below, and further information can be gathered by selecting each individually.</p>
			</div>

			<div id="game-head-cont">

			<div id="game-head">
				<div class="game-head-title">
					<p>Title</p>
				</div>
				<div class="game-head-smallimage">
				</div>
				<div class="game-head-system">
					<p>System</p>
				</div>
				<div class="game-head-rating">
					<p>Rating</p>
				</div>
				<div class="game-head-price">
					<p>Price</p>
				</div>
				<div class="game-head-quantity">
					<p>Quantity</p>
				</div>
			</div>

			</div>

			<div id="game-list">

				<% for (let game of games ) { %>

					<a href="/games/<%=game._id%>">

						<div class="game-bar">

							<div class="game-title">
								<span><%= game.title %></span>
							</div>

							<div class="game-smallimage">
								<span><img src="/images/nes-carts/<%= game.smallimage %>" alt="<%= game.title %>" /></span>
							</div>

							<!--<div class="game-genre">
								<span><%= game.genre %></span>
							</div>-->

							<div class="game-system">
								<span><%= game.system %></span>
							</div>

							<!--<div class="game-summary">
								<span><%= game.summary %></span>
							</div>-->

							<div class="game-rating">
								<span><%= game.rating %></span>
							</div>

							<div class="game-price">
								<span><%= game.price %></span>
							</div>

							<div class="game-quantity">
								<span><%= game.quantity %></span>
							</div>

						</div>

					</a>

			 	<% } %>

	 		</div>

		</div>

		<%- include ('../partials/footer.ejs') %>

		<div id="bottommost-margin">
		</div>

	</body>
</html>
