<!DOCTYPE html>
<html lang="en" dir="ltr">

  <%- include ('../partials/head.ejs') %>

	<body>

		<div id="topmost-margin">
		</div>

		<div class="container">

			<header>
	      <%- include ('../partials/nav.ejs') %>
			</header>

			<h1>Games Index Page</h1>

			<ul>

				<% for (let game of games ) { %>
					<li>

						<a href="/games/<%=game._id%>"><%= game.title %></a><br/>
						<%= game.system %><br/>
						<%= game.summary %><br/>
						<%= game.rating %><br/>
						<%= game.price %><br/>
						<%= game.quantity %>

					</li>
			 <% } %>

			</ul>

		</div>

		<%- include ('../partials/footer.ejs') %>

		<div id="bottommost-margin">
		</div>

	</body>
</html>
