<!DOCTYPE html>
<html lang="en" dir="ltr">

  <%- include ('../partials/head.ejs') %>

  <body>

    <div id="topmost-margin">
		</div>

    <div class="container">

      <header>
        <%- include ('../partials/nav.ejs') %>
      </header>

      <h1>Games Show Page</h1>

      <%=game.title%><br/>
      <%=game.genre%><br/>
      <%=game.system%><br/>
      <%=game.summary%><br/>
      Rating: <%=game.rating%><br/>
      Price: <%=game.price%><br/>
      Quantity: <%=game.quantity%><br/>

      Image: <%=game.largeimage%>

      <!-- The following should appear only when a user is logged in. -->
      <% if (currentUser) { %>
        <button type="button" name="button"><a href="/games/<%=game._id%>/edit">Edit</a></button>
        <br/>
        <form action="/games/<%=game._id%>?_method=DELETE" method="POST">
          <input type="submit" value="DELETE"/>
        </form>
        <br/>
      <% } %>


      <button type="button" name="button">
        <a href="/games">Back</a>
      </button>

    </div>

    <%- include ('../partials/footer.ejs') %>

    <div id="bottommost-margin">
		</div>

  </body>
</html>
